.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 60px;
  line-height: 120%;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 44px;
  line-height: 1.1;
  font-weight: 700;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 20px 3%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navigation-container-full {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-link {
  padding-right: 25px;
  padding-left: 25px;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}

.navigation-button {
  margin-left: 40px;
  padding: 18px 30px;
  border-radius: 10px;
  background-color: #fb9acf;
  font-family: 'DM Sans', sans-serif;
  color: #5c4ebd;
  font-size: 17px;
  font-weight: 700;
}

.body {
  background-color: #f2f5f8;
  font-family: 'DM Sans', sans-serif;
}

.navigation-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 490px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5c4ebd;
  background-image: url('../images/BG-Shape-02.svg'), url('../images/BG-Shape-01.svg');
  background-position: 0px 0px, 100% 100%;
  background-size: contain, auto;
  background-repeat: no-repeat, no-repeat;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
}

.title-centre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-h1 {
  max-width: 800px;
  margin-top: 29px;
  margin-bottom: 0px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.bar-big {
  width: 220px;
  height: 5px;
  margin-top: 32px;
  border-radius: 100px;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.bar-small {
  width: 180px;
  height: 5px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(251, 154, 193, 0)), to(#fb9acf));
  background-image: linear-gradient(90deg, rgba(251, 154, 193, 0), #fb9acf);
}

.blog-grid {
  grid-column-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.content-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.content-right {
  position: -webkit-sticky;
  position: sticky;
  display: none;
}

.blog-item {
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  padding: 20px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.8fr;
  grid-template-columns: 1fr 0.8fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.06);
  text-decoration: none;
}

.blog-image {
  width: 100%;
}

.blog-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-h2 {
  margin-top: 0px;
  color: #d1d1d1;
  text-align: center;
}

.paragraph-detials-medium {
  margin-bottom: 24px;
  color: #9899ad;
  font-size: 15px;
  line-height: 24px;
}

.profile-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile-picture {
  margin-right: 10px;
  border-radius: 100px;
}

.title-small {
  margin-bottom: 4px;
  color: #202146;
  font-weight: 700;
}

.title-small.pink {
  margin-bottom: 0px;
  color: #fb9acf;
}

.title-small.white {
  color: #fff;
}

.title-small.white.bio {
  font-size: 16px;
  line-height: 20px;
}

.paragraph-detials-small {
  margin-bottom: 0px;
  color: #9899ad;
  font-size: 14px;
  line-height: 120%;
}

.paragraph-detials-small.white-50 {
  color: hsla(0, 0%, 100%, 0.5);
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.seach-bar {
  height: 60px;
  margin-bottom: 40px;
  padding-left: 20px;
  border: 1px none #000;
  border-radius: 15px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.06);
  color: #9899ad;
  font-size: 15px;
}

.search-button {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 60px;
  height: 100%;
  border-radius: 15px;
  background-color: #5c4ebd;
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 22px;
  top: 22px;
  right: 0%;
  bottom: 0%;
}

.search-button-wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 100%;
}

.subscription {
  margin-bottom: 40px;
  padding: 100px 20px 20px;
  border-radius: 15px;
  background-color: #fff;
  background-image: url('../images/Paper-Plane.png');
  background-position: -20px -30px;
  background-size: 125px;
  background-repeat: no-repeat;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.06);
}

.title-large {
  margin-bottom: 20px;
  color: #202146;
  font-size: 20px;
  line-height: 130%;
  font-weight: 700;
}

.text-field {
  height: 60px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px none #000;
  background-color: transparent;
  font-size: 15px;
}

.featured-block {
  margin-top: 10px;
}

.featured-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #202146;
  text-decoration: none;
}

.featured-item:hover {
  color: #5c4ebd;
}

.feature-image {
  margin-right: 20px;
  border-radius: 15px;
  box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.16);
}

.categories-block {
  margin-top: 40px;
}

.categories-pill {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 6px 16px;
  border-radius: 100px;
  background-color: #fff;
  text-decoration: none;
}

.title-medium {
  margin-bottom: 0px;
  color: #5c4ebd;
  font-size: 17px;
  line-height: 130%;
  font-weight: 700;
  text-decoration: none;
}

.next-button {
  margin-top: 20px;
  padding: 20px 36px;
  border-radius: 15px;
  background-color: #fb9acf;
  text-decoration: none;
}

.header-blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 745px;
  padding: 39px 3% 154px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #af272f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 39, 47, 0.8)), to(rgba(175, 39, 47, 0.8))), url('../images/bulles2.svg'), url('../images/bulles.svg');
  background-image: linear-gradient(180deg, rgba(175, 39, 47, 0.8), rgba(175, 39, 47, 0.8)), url('../images/bulles2.svg'), url('../images/bulles.svg');
  background-position: 0px 0px, 101% 50%, -2% 50%;
  background-size: auto, auto 80%, auto 80%;
  background-repeat: repeat, no-repeat, no-repeat;
  color: #fff;
}

.profile-block-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.blog-section {
  padding-right: 3%;
  padding-bottom: 205px;
  padding-left: 3%;
  background-color: #f2f5f1;
}

.blog-hero-image {
  position: relative;
  top: -94px;
  display: block;
  margin: -41px auto 40px;
  padding-top: 0px;
  border-radius: 15px;
  box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.06);
}

.paragraph-detials-large {
  display: block;
  margin-bottom: 40px;
  color: #333;
  font-size: 17px;
  line-height: 30px;
}

.content-left_blog {
  display: block;
  margin-top: -75px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.blog-h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #333;
  font-size: 32px;
}

.heading-h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 140%;
  text-align: left;
}

.content-section {
  padding: 132px 3%;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background-color: #f2f5f8;
}

.submit-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.submit-button-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  position: absolute;
}

.blog-image-wrap {
  overflow: hidden;
  border-radius: 10px;
}

.stick-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
}

.footer {
  display: block;
}

.flowbase-remove {
  position: fixed;
  left: 35px;
  top: auto;
  right: auto;
  bottom: 45px;
  z-index: 999;
  width: 100%;
  max-width: 420px;
  min-height: 180px;
  padding: 18px 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  border-width: 4px;
  border-color: #6a24cc;
  background-color: #7839f3;
  background-image: url('../images/Flowbase-Bubble-Right.png');
  background-position: 100% 0%;
  background-size: 170px;
  background-repeat: no-repeat;
  box-shadow: -2px 40px 45px -30px rgba(0, 18, 45, 0.27);
}

.flowbase-h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.03em;
}

.flowbase-text {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 17px;
}

.flowbase-link {
  color: #fff;
}

.close-circle {
  position: absolute;
  left: auto;
  top: 15px;
  right: 15px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.close-circle:hover {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.close-icon {
  width: 14px;
}

.flowbase-button {
  margin-top: 16px;
  margin-bottom: 10px;
  padding: 16px 24px;
  border-radius: 100px;
  background-color: #fff;
  color: #7839f3;
  font-size: 15px;
  font-weight: 700;
}

.flowbase-detail {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 13px;
}

.image-3 {
  width: 300px;
}

.grid {
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-4 {
  max-width: 50%;
}

.list {
  margin-bottom: 20px;
}

.text-block {
  margin-bottom: 20px;
  padding-right: 50px;
  padding-left: 20px;
  line-height: 22px;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #a3664b;
  font-size: 18px;
  line-height: 1.5;
}

.text-block-5 {
  display: block;
  padding-top: 2px;
  padding-left: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #003843;
  text-decoration: none;
}

.link-2 {
  color: #003843;
  text-decoration: none;
}

.image-22 {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 3px;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.footer-2 {
  padding-top: 4px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #af272f;
  text-align: center;
}

.text-block-3 {
  color: #003843;
}

.list-item-2 {
  display: none;
}

.link-block-4 {
  text-decoration: none;
}

.footer-link-2 {
  display: block;
  margin-bottom: 10px;
  color: #003843;
  text-decoration: none;
}

.footer-link-2:hover {
  color: #003843;
  text-decoration: none;
}

.div-block-14 {
  width: 30%;
  height: 1px;
  margin: 60px auto 0px;
  border: 1px solid #a3664b;
  border-radius: 20px;
}

.footer-logo-link {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.image-18 {
  width: 250px;
}

.div-block-11 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: #fff;
  text-align: left;
}

.container-2 {
  margin-top: 40px;
}

.list-3 {
  margin-bottom: 3px;
  padding-left: 0px;
  list-style-type: none;
}

.list-item-3 {
  margin-bottom: 28px;
  font-weight: 700;
}

.div-block-15 {
  margin-top: 40px;
}

.div-block-16 {
  margin-top: 40px;
}

.div-block-17 {
  margin-top: 40px;
}

.link-block-5 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
  font-size: 50px;
  line-height: 90px;
  font-weight: 700;
}

.list-item-4 {
  margin-bottom: 8px;
  list-style-type: none;
}

.list-item-5 {
  padding-bottom: 8px;
}

.list-item-6 {
  padding-bottom: 8px;
}

.lien-footer {
  color: #fff;
}

.signup-wrapper {
  display: block;
  width: 540px;
  height: 580px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

.text-span-8 {
  color: #fff;
}

.text-span-6 {
  font-size: 20px;
}

.modal-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  height: 100%;
  padding-top: 80px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  text-align: center;
}

.text-span-7 {
  color: #fff;
  font-weight: 400;
}

.div-block-4 {
  display: none;
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.text-block-4 {
  display: block;
  color: #a3664b;
  font-style: normal;
}

.close-link {
  position: relative;
  display: block;
  margin-bottom: -28px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.text-span-3 {
  color: #fff;
  font-size: 25px;
}

.text-span-5 {
  display: none;
  font-size: 20px;
}

.html-embed {
  height: 580px;
}

.list-item-7 {
  padding-bottom: 8px;
}

.list-item-8 {
  padding-bottom: 8px;
}

.list-item-9 {
  padding-bottom: 8px;
}

.link-block-6 {
  text-align: center;
}

.link-va {
  color: #333;
  font-weight: 700;
}

.div-block-19 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.credit-photo {
  position: absolute;
  left: auto;
  top: auto;
  right: 8%;
  bottom: 13%;
  font-size: 11px;
}

.div-block-21 {
  position: relative;
  margin-top: -120px;
  padding-top: 0px;
}

.text-block-6 {
  position: relative;
  color: #333;
}

.div-block-22 {
  position: relative;
}

.image-23 {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.link-3 {
  color: #9899ad;
}

.heading-h1-copy {
  max-width: 800px;
  margin-top: 29px;
  margin-bottom: 0px;
  line-height: 1.1;
  text-align: center;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.container-3 {
  overflow: scroll;
  font-weight: 700;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-23 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  float: left;
}

.div-block-24 {
  position: absolute;
  right: 200px;
  width: 2000px;
  height: 100px;
  max-width: 170px;
  -o-object-fit: none;
  object-fit: none;
}

.section {
  position: absolute;
  width: 2000px;
  height: 200px;
  max-height: 0px;
  max-width: 0px;
}

.text-block-7 {
  margin-top: -50px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.image-24 {
  text-align: center;
}

.heading {
  text-align: center;
}

.paragraph {
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.image-25 {
  margin-top: -27px;
  text-align: left;
}

.link-4 {
  color: #faa;
}

.text-block-7-copy {
  margin-top: 25px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.div-block-25 {
  position: relative;
  width: 70%;
  height: 150px;
  background-color: #fff;
}

.heading-2 {
  position: relative;
  top: auto;
  bottom: auto;
  height: 150px;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 119px;
  padding-left: 117px;
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
  color: #bea16e;
  font-size: 30px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
  text-indent: 6000px;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-26 {
  width: 600px;
  padding-top: 49px;
  padding-right: 68px;
  padding-left: 0px;
  background-color: #fff;
  font-family: 'DM Sans', sans-serif;
  color: #000;
  text-align: center;
}

.heading-3 {
  font-size: 0px;
}

.heading-4 {
  font-size: 30px;
  text-align: center;
}

.heading-5 {
  position: relative;
  top: -6px;
  padding: 22px 200px;
  background-color: #fff;
  color: #c9a054;
  font-size: 25px;
  text-align: center;
}

.columns {
  margin-top: 71px;
}

.image-26 {
  margin-top: 184px;
}

.profile-block-header-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 58px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
}

.blog-h2-2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 32px;
}

.paragraph-detials-large-2 {
  display: block;
  margin-bottom: 40px;
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}

.heading-h3-2 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #fff;
  line-height: 140%;
  text-align: left;
}

.list-copy {
  margin-bottom: 20px;
  color: #fff;
}

.text-block-2 {
  margin-bottom: 20px;
  padding-right: 50px;
  padding-left: 20px;
  color: #fff;
  line-height: 22px;
}

.heading-6 {
  color: #333;
}

.list-item {
  color: #fff;
}

.text-block-8 {
  margin-bottom: 20px;
  padding-right: 50px;
  padding-left: 20px;
  color: #fff;
  line-height: 22px;
}

.credit-photo-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 8%;
  bottom: -4%;
  font-size: 11px;
}

.blog-section-rouge {
  padding: 62px 3% 53px;
  background-color: #af272f;
}

.grid-2 {
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}

.grid-3 {
  grid-auto-columns: 0.25fr;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
  -ms-grid-rows: minmax(100px, 1fr) 16px minmax(100px, 1fr) 16px minmax(100px, 1fr) 16px minmax(100px, 1fr) 16px minmax(100px, 1fr);
  grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}

.link-5 {
  padding-top: 82px;
  font-size: 10px;
  text-align: center;
}

.link-block-8 {
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.image-27 {
  width: 300px;
}

.link-block-9 {
  width: 100%;
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.image-28 {
  width: 250px;
}

.image-29 {
  width: 300px;
}

.link-block-10 {
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1-copie-2.jpg');
  background-position: 50% 50%;
  background-size: contain;
}

.link-block-11 {
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1-copie-3.jpg');
  background-position: 50% 50%;
  background-size: contain;
}

.link-block-12 {
  background-image: url('../images/plan-calendrier-fermé_Plan-de-travail-1-copie-4.png');
  background-position: 0px 0px;
  background-size: cover;
  font-weight: 400;
}

.link-block-12.w--current {
  background-image: url('../images/plan-calendrier-fermé_Plan-de-travail-1-copie-4.png');
}

.link-block-13 {
  background-image: url('../images/plan-calendrier-fermé_Plan-de-travail-1-copie-5.png');
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-13.w--current {
  background-image: url('../images/plan-calendrier-fermé_Plan-de-travail-1-copie-5.png');
  background-size: cover;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.link-block-14 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.link-block-14.w--current {
  background-image: url('../images/7-GrandeCuvee_Plan-de-travail-1-copie-6.png');
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-j2 {
  width: 100%;
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1-copie.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j1 {
  width: 100%;
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j3 {
  width: 100%;
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1-copie-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j4 {
  width: 100%;
  background-image: url('../images/plan-calendrier-surprise_Plan-de-travail-1-copie-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j5 {
  width: 100%;
  background-image: url('../images/plan-calendrier-fermé_Plan-de-travail-1-copie-4.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j6 {
  width: 100%;
  background-image: url('../images/plan-calendrier-fermé_Plan-de-travail-1-copie-5.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j7 {
  width: 100%;
  background-image: url('../images/7-GrandeCuvee_Plan-de-travail-1-copie-6.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j7-copy {
  width: 100%;
  background-image: url('../images/7-GrandeCuvee_Plan-de-travail-1-copie-6.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j7-copy-copy {
  width: 100%;
  background-image: url('../images/7-GrandeCuvee_Plan-de-travail-1-copie-6.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j8 {
  width: 100%;
  background-image: url('../images/plan-calendrier-8_Plan-de-travail-1-copie-7.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j8-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-7.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j8-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-7.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j9 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-8.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j10 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-9.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j11 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-10.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j11-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-10.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j12 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-11.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j13 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-12.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j13-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-12.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j14 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-13.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j15 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-14.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j16 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-15.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j17 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-16.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j18 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-17.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j18-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-17.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j19 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-18.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j20 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-19.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j21 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-20.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j22 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-21.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j22-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-21.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j23 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-22.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j24 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-23.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j24-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-23.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j24-copy-copy {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-23.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

.link-block-j25 {
  width: 100%;
  background-image: url('../images/case-calendrier_Plan-de-travail-1-copie-24.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
}

@media screen and (max-width: 991px) {
  .navigation-button {
    margin-left: 0px;
  }

  .navigation-menu {
    background-color: #202146;
  }

  .header {
    background-image: url('../images/BG-Shape-01.svg');
    background-position: 100% 100%;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .heading-h1 {
    margin-top: 40px;
  }

  .blog-grid {
    grid-column-gap: 22px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .blog-item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .featured-item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .feature-image {
    margin-bottom: 10px;
  }

  .header-blog {
    padding-top: 25px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 39, 47, 0.8)), to(rgba(175, 39, 47, 0.8))), url('../images/bulles.svg');
    background-image: linear-gradient(180deg, rgba(175, 39, 47, 0.8), rgba(175, 39, 47, 0.8)), url('../images/bulles.svg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, auto 80%;
  }

  .profile-block-header {
    margin-top: 48px;
  }

  .blog-section {
    padding-bottom: 15px;
  }

  .blog-hero-image {
    margin-bottom: 40px;
  }

  .menu-button {
    border: 1px solid #fb9acf;
    border-radius: 15px;
    color: #fb9acf;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .flowbase-remove {
    display: none;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .credit-photo {
    right: 4%;
    bottom: -6%;
    z-index: 999;
  }

  .div-block-21 {
    text-align: center;
  }

  .div-block-22 {
    display: block;
    height: 100%;
  }

  .heading-h1-copy {
    margin-top: 40px;
  }

  .heading {
    font-size: 40px;
  }

  .paragraph {
    margin-top: 15px;
  }

  .image-26 {
    margin-top: 111px;
  }

  .profile-block-header-2 {
    margin-top: 48px;
  }

  .credit-photo-2 {
    right: 4%;
    bottom: -6%;
    z-index: 999;
  }

  .blog-section-rouge {
    padding-bottom: 15px;
  }

  .grid-3 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 0.25fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: ".";
    -ms-grid-columns: minmax(200px, 1fr) 16px minmax(200px, 1fr) 16px minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
    -ms-grid-rows: minmax(100px, 1fr) 16px minmax(100px, 1fr) 16px minmax(100px, 1fr) 16px minmax(100px, 1fr) 16px minmax(100px, 1fr);
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
  }

  .link-block-8 {
    position: absolute;
    overflow: auto;
    background-size: cover;
    text-align: center;
  }

  .link-block-9 {
    min-height: 105px;
  }

  .link-block-10 {
    background-size: cover;
  }

  .link-block-11 {
    background-size: cover;
  }

  .link-block-j2 {
    min-height: 105px;
  }

  .link-block-j1 {
    min-height: 105px;
  }

  .link-block-j3 {
    min-height: 105px;
  }

  .link-block-j4 {
    min-height: 105px;
  }

  .link-block-j5 {
    min-height: 105px;
  }

  .link-block-j6 {
    min-height: 105px;
  }

  .link-block-j7 {
    min-height: 105px;
  }

  .link-block-j7-copy {
    min-height: 105px;
  }

  .link-block-j7-copy-copy {
    min-height: 105px;
  }

  .link-block-j8 {
    min-height: 105px;
  }

  .link-block-j8-copy {
    min-height: 105px;
  }

  .link-block-j8-copy {
    min-height: 105px;
  }

  .link-block-j9 {
    min-height: 105px;
  }

  .link-block-j10 {
    min-height: 105px;
  }

  .link-block-j11 {
    min-height: 105px;
  }

  .link-block-j11-copy {
    min-height: 105px;
  }

  .link-block-j12 {
    min-height: 105px;
  }

  .link-block-j13 {
    min-height: 105px;
  }

  .link-block-j13-copy {
    min-height: 105px;
  }

  .link-block-j14 {
    min-height: 105px;
  }

  .link-block-j15 {
    min-height: 105px;
  }

  .link-block-j16 {
    min-height: 105px;
  }

  .link-block-j17 {
    min-height: 105px;
  }

  .link-block-j18 {
    min-height: 105px;
  }

  .link-block-j18-copy {
    min-height: 105px;
  }

  .link-block-j19 {
    min-height: 105px;
  }

  .link-block-j20 {
    min-height: 105px;
  }

  .link-block-j21 {
    min-height: 105px;
  }

  .link-block-j22 {
    min-height: 105px;
  }

  .link-block-j22-copy {
    min-height: 105px;
  }

  .link-block-j23 {
    min-height: 105px;
  }

  .link-block-j24 {
    min-height: 105px;
  }

  .link-block-j24-copy {
    min-height: 105px;
  }

  .link-block-j24-copy-copy {
    min-height: 105px;
  }

  .link-block-j25 {
    min-height: 105px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }

  .heading-h1 {
    margin-top: 7px;
    font-size: 40px;
  }

  .blog-grid {
    grid-row-gap: 62px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .header-blog {
    padding-bottom: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 39, 47, 0.8)), to(rgba(175, 39, 47, 0.8))), url('../images/bulles.svg');
    background-image: linear-gradient(180deg, rgba(175, 39, 47, 0.8), rgba(175, 39, 47, 0.8)), url('../images/bulles.svg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, auto 80%;
    background-repeat: repeat, no-repeat;
  }

  .profile-block-header {
    margin-top: 71px;
  }

  .blog-hero-image {
    top: -44px;
    margin-top: -100px;
    margin-bottom: 30px;
  }

  .content-section {
    padding-top: 92px;
    padding-bottom: 92px;
  }

  .flowbase-remove {
    display: none;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .list-3 {
    text-align: center;
  }

  .signup-wrapper {
    width: 450px;
    height: 640px;
  }

  .html-embed {
    height: 640px;
  }

  .credit-photo {
    bottom: 6%;
  }

  .text-block-6 {
    position: static;
  }

  .heading-h1-copy {
    margin-top: 50px;
    font-size: 55px;
  }

  .image-25 {
    margin-top: -39px;
  }

  .text-block-7-copy {
    font-size: 16px;
  }

  .heading-5 {
    padding-right: 30px;
    padding-left: 29px;
  }

  .image-26 {
    margin-top: 15px;
  }

  .profile-block-header-2 {
    margin-top: 15px;
  }

  .credit-photo-2 {
    bottom: 6%;
  }

  .blog-section-rouge {
    padding-top: 128px;
  }

  .grid-3 {
    -ms-grid-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  }

  .link-block-9 {
    min-height: 125px;
  }

  .link-block-j2 {
    min-height: 125px;
  }

  .link-block-j1 {
    min-height: 125px;
  }

  .link-block-j3 {
    min-height: 125px;
  }

  .link-block-j4 {
    min-height: 125px;
  }

  .link-block-j5 {
    min-height: 125px;
  }

  .link-block-j6 {
    min-height: 125px;
  }

  .link-block-j7 {
    min-height: 125px;
  }

  .link-block-j7-copy {
    min-height: 125px;
  }

  .link-block-j7-copy-copy {
    min-height: 125px;
  }

  .link-block-j8 {
    min-height: 125px;
  }

  .link-block-j8-copy {
    min-height: 125px;
  }

  .link-block-j8-copy {
    min-height: 125px;
  }

  .link-block-j9 {
    min-height: 125px;
  }

  .link-block-j10 {
    min-height: 125px;
  }

  .link-block-j11 {
    min-height: 125px;
  }

  .link-block-j11-copy {
    min-height: 125px;
  }

  .link-block-j12 {
    min-height: 125px;
  }

  .link-block-j13 {
    min-height: 125px;
  }

  .link-block-j13-copy {
    min-height: 125px;
  }

  .link-block-j14 {
    min-height: 125px;
  }

  .link-block-j15 {
    min-height: 125px;
  }

  .link-block-j16 {
    min-height: 125px;
  }

  .link-block-j17 {
    min-height: 125px;
  }

  .link-block-j18 {
    min-height: 125px;
  }

  .link-block-j18-copy {
    min-height: 125px;
  }

  .link-block-j19 {
    min-height: 125px;
  }

  .link-block-j20 {
    min-height: 125px;
  }

  .link-block-j21 {
    min-height: 125px;
  }

  .link-block-j22 {
    min-height: 125px;
  }

  .link-block-j22-copy {
    min-height: 125px;
  }

  .link-block-j23 {
    min-height: 125px;
  }

  .link-block-j24 {
    min-height: 125px;
  }

  .link-block-j24-copy {
    min-height: 125px;
  }

  .link-block-j24-copy-copy {
    min-height: 125px;
  }

  .link-block-j25 {
    min-height: 125px;
  }
}

@media screen and (max-width: 479px) {
  .heading-h1 {
    margin-top: 30px;
    font-size: 30px;
    line-height: 1.5;
  }

  .title-small.white.bio {
    font-size: 14px;
  }

  .paragraph-detials-small.white-50 {
    font-size: 12px;
  }

  .header-blog {
    min-height: 680px;
    padding-top: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 39, 47, 0.8)), to(rgba(175, 39, 47, 0.8))), url('../images/bulles.svg');
    background-image: linear-gradient(180deg, rgba(175, 39, 47, 0.8), rgba(175, 39, 47, 0.8)), url('../images/bulles.svg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, auto 80%;
    background-repeat: repeat, no-repeat;
  }

  .blog-hero-image {
    top: -19px;
    margin-bottom: 10px;
  }

  .content-left_blog {
    margin-top: -15px;
  }

  .footer {
    background-image: none;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: repeat-x;
  }

  .footer-heading {
    margin-top: 40px;
    margin-bottom: 0px;
    text-align: center;
  }

  .div-block-5 {
    margin-top: 20px;
    text-align: center;
  }

  .div-block-7 {
    text-align: center;
  }

  .text-block-5 {
    font-size: 14px;
  }

  .div-block-6 {
    height: 120px;
    margin-right: auto;
    margin-left: auto;
  }

  .image-22 {
    width: 25px;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .footer-2 {
    margin-top: 0px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .text-block-3 {
    font-size: 14px;
  }

  .footer-link-2 {
    font-size: 14px;
  }

  .footer-logo-link {
    height: 60px;
  }

  .image-18 {
    width: 100%;
  }

  .footer-flex-container {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .signup-wrapper {
    width: 100%;
    height: 82vh;
  }

  .html-embed {
    height: 82vh;
  }

  .link-va {
    color: #202146;
  }

  .credit-photo {
    bottom: -6%;
    font-size: 8px;
  }

  .div-block-21 {
    position: static;
    display: inline-block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .image-23 {
    top: 5px;
  }

  .heading-h1-copy {
    font-size: 44px;
  }

  .text-block-7 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }

  .heading {
    font-size: 30px;
  }

  .image-25 {
    margin-top: -9px;
  }

  .text-block-7-copy {
    margin-top: 7px;
    line-height: 20px;
  }

  .profile-block-header-2 {
    margin-top: 26px;
  }

  .paragraph-detials-large-2 {
    margin-bottom: 0px;
  }

  .text-block-2 {
    margin-bottom: 308px;
  }

  .text-block-8 {
    margin-bottom: 40px;
  }

  .div-block-27 {
    margin-top: -59px;
  }

  .credit-photo-2 {
    bottom: -6%;
    font-size: 8px;
  }

  .grid-3 {
    grid-template-areas: ".";
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
  }

  .link-block-9 {
    min-height: 150px;
  }

  .image-28 {
    margin-left: 15px;
  }

  .link-block-j2 {
    min-height: 150px;
  }

  .link-block-j1 {
    min-height: 150px;
  }

  .link-block-j3 {
    min-height: 150px;
  }

  .link-block-j4 {
    min-height: 150px;
  }

  .link-block-j5 {
    min-height: 150px;
  }

  .link-block-j6 {
    min-height: 150px;
  }

  .link-block-j7 {
    min-height: 150px;
  }

  .link-block-j7-copy {
    min-height: 150px;
  }

  .link-block-j7-copy-copy {
    min-height: 150px;
  }

  .link-block-j8 {
    min-height: 150px;
  }

  .link-block-j8-copy {
    min-height: 150px;
  }

  .link-block-j8-copy {
    min-height: 150px;
  }

  .link-block-j9 {
    min-height: 150px;
  }

  .link-block-j10 {
    min-height: 150px;
  }

  .link-block-j11 {
    min-height: 150px;
  }

  .link-block-j11-copy {
    min-height: 150px;
  }

  .link-block-j12 {
    min-height: 150px;
  }

  .link-block-j13 {
    min-height: 150px;
  }

  .link-block-j13-copy {
    min-height: 150px;
  }

  .link-block-j14 {
    min-height: 150px;
  }

  .link-block-j15 {
    min-height: 150px;
  }

  .link-block-j16 {
    min-height: 150px;
  }

  .link-block-j17 {
    min-height: 150px;
  }

  .link-block-j18 {
    min-height: 150px;
  }

  .link-block-j18-copy {
    min-height: 150px;
  }

  .link-block-j19 {
    min-height: 150px;
  }

  .link-block-j20 {
    min-height: 150px;
  }

  .link-block-j21 {
    min-height: 150px;
  }

  .link-block-j22 {
    min-height: 150px;
  }

  .link-block-j22-copy {
    min-height: 150px;
  }

  .link-block-j23 {
    min-height: 150px;
  }

  .link-block-j24 {
    min-height: 150px;
  }

  .link-block-j24-copy {
    min-height: 150px;
  }

  .link-block-j24-copy-copy {
    min-height: 150px;
  }

  .link-block-j25 {
    min-height: 150px;
  }
}

#w-node-_9ade8ab2-a892-0936-c866-f235433df242-9a7376d0 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

